{% extends "_template.html.twig" %}

{% block title %}
    Nouveautés
{% endblock %}

{% block content %}
    <main class="section">
        <h1>Nouveautés : {{ record|length }}</h1>

        {% include 'includes/record_list.html.twig' with {
            record_list: record
        } %}
    </main>

{% endblock %}